---
import OurImpact from "@/components/sections/OurImpact.astro"
import Beneficts from "@/components/sections/Beneficts.astro"
import HowWorks from "@/components/sections/HowWorks.astro"
import Solution from "@/components/sections/Solution.astro"
import Contact from "@/components/sections/Contact.astro"
import Problem from "@/components/sections/Problem.astro"
import Plans from "@/components/sections/Plans.astro"
import Hero from "@/components/sections/Hero.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Websil | Recuperación de Fondos por Licencias Médicas">
	<main class="pt-16">
		<Hero />
		<Problem />
		<Solution />
		<Beneficts />
		<HowWorks />
		<OurImpact />
		<Plans />
		<Contact />
	</main>
</Layout>
